[submodule "docs"]
    path = docs
    url = https://github.com/bitshares/bitshares-core.wiki.git
    branch = master
    ignore = dirty
[submodule "libraries/fc"]
    path = libraries/fc
    url = https://github.com/miuNEST/bitshares-fc.git
    branch = master
    ignore = dirty
[submodule "libraries/wren"]
    path = libraries/wren
    url = https://github.com/miuNEST/wren.git
    branch = master
    ignore = dirty
